<% provide(:title, @team.name) %>
<div class="center hero-unit">
    <section>
  		<h2> <%= @team.name %> </h2>
  		<b>Captain :</b> <%= @team.captain_name %> <br>
  		<b>Spirit Captain :</b> <%= @team.spirit_captain_name %> <br>
  		<b>City :</b> <%= @team.city %> <br>
  	    <b>Contact :</b> <%= @team.contact_1 %> | <%= @team.email_1 %><br>
      <%= link_to "Edit", edit_team_path(@team) %> | 
      <%= link_to "Remove", @team, method: :delete, data: { confirm: "You sure?" } %>
    </section>
</div>