<% provide(:title, @tournament.name) %>
<div class="center hero-unit">
  	<h2> <%= @tournament.name %> </h2>
  	<%= @tournament.description %> <br>
  	<b>Venue :</b> <%= @tournament.venue %> <br>
  	<b>From :</b> <%= @tournament.date_from %> <br>
    <b>To :</b> <%= @tournament.date_to %> <br>
    <%= link_to "Edit", edit_tournament_path(@tournament) %> | 
    <%= link_to "Remove", @tournament, method: :delete, data: { confirm: "You sure?" } %>
 </div>
 <div class="center hero-unit">
	<center><h2>Teams</h2></center>
	<ul class="teams">
	  <% @teams.each do |team| %>
	    <li>
	    	<h4><%= link_to team.name, team_path(team) %></h4>
	    </li>
	  <% end %>
	  <br>
	  <%= link_to "Register Team", new_tournament_team_path(@tournament.id), class: "btn btn-default btn-success" %>
	</ul>
 </div>
  <div class="center hero-unit">
	<center><h2>Game Scores</h2></center>
    <ul class="teams">
	  <% @games.each do |game| %>
	  	<% if game.teams.present? %>
		    <li>
		    	<h4> <%= link_to( game.name, game_path(game)) %> </h4>
		    </li>
		<% end %>
	  <% end %>
	  <br>
	  <%= link_to "Enter Game scores", new_tournament_game_path(@tournament.id), class: "btn btn-default btn-success" %>
	</ul>
 </div>