<% provide(:title, @tournament.name) %>
<div class="center hero-unit">
  	<h2> <%= @tournament.name %> </h2>
  	<%= @tournament.description %> <br>
  	<b>Venue :</b> <%= @tournament.venue %> <br>
  	<b>From :</b> <%= @tournament.date_from %> <br>
    <b>To :</b> <%= @tournament.date_to %> <br>
    <%= link_to "Edit", edit_tournament_path(@tournament) %> | 
    <%= link_to "Remove", @tournament, method: :delete, data: { confirm: "You sure?" } %>
 </div>