<% provide(:title, @tournament.name) %>
<div class="row">
  <aside class="span6">
  		<h1> <%= @tournament.name %> </h1>
  		<%= @tournament.description %> <br>
  		Venue : <%= @tournament.venue %> <br>
  		From : <%= @tournament.date_from %> <br>
  		To : <%= @tournament.date_to %> <br>
      <%#= link_to "Edit", edit_team_path(@team) %> | 
      <%#= link_to "Remove", @team, method: :delete, data: { confirm: "You sure?" } %>
  </aside>
 </div>